/* Aligning search bar and title in the middle */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black; /* Setting a black background */
  color: white; /* Setting text color to white for better visibility */
}

header {
  text-align: center;
  margin-bottom: 20px;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Style for app links */
.apps-section a {
  display: block;
  margin-bottom: 10px;
  color: white;
  text-decoration: none;
}

.apps-section a:hover {
  text-decoration: underline;
  cursor: pointer;
}
