body,
header {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
}

.title-container {
    text-align: center;
}

.title {
    margin: 0;
}

.description {
    margin-top: 5px;
    font-style: italic;
}

.apps-section {
    display: flex;
    gap: 10px;
}
